flows.json
[{"id":"4f3c122a.1b5bec","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"f88c70b.302ed9","type":"debug","z":"4f3c122a.1b5bec","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":260,"wires":[]},{"id":"e88ddc02.3ee44","type":"BLE Beacon Scanner","z":"4f3c122a.1b5bec","name":"","x":120,"y":360,"wires":[["e5595001.ba0b1"]]},{"id":"e5595001.ba0b1","type":"switch","z":"4f3c122a.1b5bec","name":"","property":"payload.id","propertyType":"msg","rules":[{"t":"eq","v":"e50010000eea","vt":"str"},{"t":"eq","v":"e21500015889","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":460,"wires":[["89db994c.8ad9b8"],["25ee6948.00b726"]]},{"id":"89db994c.8ad9b8","type":"delay","z":"4f3c122a.1b5bec","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":510,"y":260,"wires":[["f88c70b.302ed9","ddcc1158.ca1d4","c4200382.ca0f5","19733679.53ce7a","168d70d0.16450f","de823742.7da898"]]},{"id":"a060391c.084ed8","type":"debug","z":"4f3c122a.1b5bec","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":400,"wires":[]},{"id":"ddcc1158.ca1d4","type":"function","z":"4f3c122a.1b5bec","name":"Temp","func":"var Packet = msg.payload.other\nmsg.payload = (Packet[8]*256+Packet[7])/100;\nreturn msg","outputs":1,"noerr":0,"x":550,"y":340,"wires":[["6474436.b0c38bc"]]},{"id":"6474436.b0c38bc","type":"debug","z":"4f3c122a.1b5bec","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":340,"wires":[]},{"id":"c4200382.ca0f5","type":"function","z":"4f3c122a.1b5bec","name":"Humid","func":"var Packet = msg.payload.other\nmsg.payload = Packet[10]/2\nreturn msg","outputs":1,"noerr":0,"x":550,"y":400,"wires":[["a060391c.084ed8"]]},{"id":"19733679.53ce7a","type":"function","z":"4f3c122a.1b5bec","name":"Lux","func":"var Packet = msg.payload.other\nmsg.payload = Packet[13]*256+Packet[12]\nreturn msg","outputs":1,"noerr":0,"x":550,"y":460,"wires":[["b5a7ae75.a5fa8"]]},{"id":"b5a7ae75.a5fa8","type":"debug","z":"4f3c122a.1b5bec","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":460,"wires":[]},{"id":"168d70d0.16450f","type":"function","z":"4f3c122a.1b5bec","name":"Energy","func":"var Packet = msg.payload.other\nmsg.payload = Packet[22]/2\nreturn msg","outputs":1,"noerr":0,"x":560,"y":520,"wires":[["dbd1a581.fddca8"]]},{"id":"dbd1a581.fddca8","type":"debug","z":"4f3c122a.1b5bec","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":520,"wires":[]},{"id":"c638cdbf.daa79","type":"Ambient","z":"4f3c122a.1b5bec","name":"Ambient","channelId":"24798","writeKey":"778d0a78a5a8c24d","x":880,"y":580,"wires":[]},{"id":"de823742.7da898","type":"function","z":"4f3c122a.1b5bec","name":"Ambient Data","func":"var Packet = msg.payload.other\nvar Temp = (Packet[8]*256+Packet[7])/100\nvar Humid = Packet[10]/2\nvar Lux = Packet[13]*256+Packet[12]\nvar Energy = Packet[22]/2\nvar data = {\n    \"d1\": Temp,\n    \"d2\": Humid,\n    \"d3\": Lux,\n    \"d4\": Energy\n}\nmsg.payload = data\nreturn msg","outputs":1,"noerr":0,"x":580,"y":580,"wires":[["c638cdbf.daa79"]]},{"id":"25ee6948.00b726","type":"delay","z":"4f3c122a.1b5bec","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":510,"y":640,"wires":[["68764dfe.3b4254","ba962b63.7d10c8"]]},{"id":"68764dfe.3b4254","type":"debug","z":"4f3c122a.1b5bec","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":640,"wires":[]},{"id":"ba962b63.7d10c8","type":"function","z":"4f3c122a.1b5bec","name":"Button","func":"var Packet = msg.payload.other\nmsg.payload = Packet[6]\nreturn msg","outputs":1,"noerr":0,"x":550,"y":700,"wires":[["5a8aeeb.133831","c7fa6f7f.4d6a5"]]},{"id":"5a8aeeb.133831","type":"debug","z":"4f3c122a.1b5bec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":700,"wires":[]},{"id":"c7fa6f7f.4d6a5","type":"switch","z":"4f3c122a.1b5bec","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"9","vt":"num"},{"t":"eq","v":"8","vt":"num"},{"t":"eq","v":"17","vt":"num"},{"t":"eq","v":"16","vt":"num"}],"checkall":"true","repair":false,"outputs":8,"x":670,"y":820,"wires":[["2d5a4591.a8c39a"],[],["c6cd8e54.9fa0a"],[],["3c3a9f96.4ee84"],[],["f75d23db.b222e"],[]]},{"id":"2d5a4591.a8c39a","type":"better-sonos-control","z":"4f3c122a.1b5bec","confignode":"b1a1569a.e9eec8","name":"PLAY","mode":"play","track":"","volume":"unmute","volume_value":"10","x":870,"y":740,"wires":[]},{"id":"c6cd8e54.9fa0a","type":"better-sonos-control","z":"4f3c122a.1b5bec","confignode":"b1a1569a.e9eec8","name":"PAUSE","mode":"pause","track":"","volume":"mute","volume_value":"","x":880,"y":800,"wires":[]},{"id":"3c3a9f96.4ee84","type":"better-sonos-control","z":"4f3c122a.1b5bec","confignode":"b1a1569a.e9eec8","name":"VOLUME(UP)","mode":"","track":"","volume":"vol_up","volume_value":"","x":900,"y":860,"wires":[]},{"id":"f75d23db.b222e","type":"better-sonos-control","z":"4f3c122a.1b5bec","confignode":"b1a1569a.e9eec8","name":"VOLUME(DOWN)","mode":"","track":"","volume":"vol_down","volume_value":"","x":910,"y":920,"wires":[]},{"id":"d99a05eb.128558","type":"comment","z":"4f3c122a.1b5bec","name":"STM550B","info":"","x":340,"y":260,"wires":[]},{"id":"8a8189b7.dc6178","type":"comment","z":"4f3c122a.1b5bec","name":"PTM215B","info":"","x":340,"y":640,"wires":[]},{"id":"b1a1569a.e9eec8","type":"better-sonos-config","z":"","name":"SONOS_S1","serialnum":"","ipaddress":"192.168.0.20"}]